numpy
rouge_score
fire
openai
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/accelerate.git
torch
sentencepiece
wandb
peft
accelerate
bitsandbytes
datasets
deepspeed
